.animation{
position: relative;
height: 200px;
}
.image-st{
    height: 100px;
    animation-name: studentmove;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    position: absolute;
}
/* animation */
@keyframes studentmove{
    form{left:0;}
    to{left:700px;}
}
.img2{
    height: 100px;
    animation:stmove 6s infinite;
}
@keyframes stmove{
    0%{transform: translateX(0);}
    25%{transform: translateX(250px);}
    50%{transform: translateX(350px);}
    75%{transform: translateX(450px);}
    100%{transform: translateX(600px);}
}
.imgtsu{
    width: 700px;
    height: 400px;
    object-fit: contain;
    background-image: url();
}